body {
    background: #000;
}


#navbar {
    font-family: "Poppins", sans-serif;
}

#navbar img {
    margin-left: 100px;
}

#links {
    margin-right: 100px;
}


#quienessomos h2 {
    font-weight: 400;
}

#quienessomos h2, p {
    color: #fff;
    background-color: #000;
    
}

#icono {
    font-size: 25px;
}