body {
    background: #000;
}


#navbar {
    font-family: "Poppins", sans-serif;
}

#navbar img {
    margin-left: 100px;
}

#links {
    margin-right: 100px;
}


#quienessomos h2 {
    font-weight: 400;
}

#quienessomos p {
    color: #fff;
    background-color: #000;
    font-weight: 300;   
}

#icono {
    font-size: 25px;
}


.card-text {
    font-weight: 300;
}

#textarea {
    resize: none;
    height:150px;
}

footer h4 {
    display: inline;
    color: #fff;
}

.links {
    display: inline;
    font-size: 30px;
}

footer i.fa-brands {
    color: #ffffff;
}
    